@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SlashTodo.Web.Account.ViewModels.DashboardViewModel>
@{
    Layout = "_Layout.cshtml";
}

<div class="container" ng-app="app" ng-cloak ng-controller="DashboardController">
    <div class="page-header clearfix">
        <a href="@Url.Content("~/signout")" class="btn btn-default btn-sm pull-right" style="margin-top: 25px;"><span class="glyphicon glyphicon-log-out"></span> Sign out</a>
        <h1 class="logo">/todo</h1>
    </div>
    <h3>Setup instructions for <strong>@Model.SlackTeamName</strong></h3>
        <ol>
            <li>
                Go to the
                <a href="@string.Format("{0}/services/new", Model.SlackTeamUrl.TrimEnd('/'))">Integrations</a>
                page of your Slack team configuration.
            </li>
            <li>
                Add a new
                <strong><a href="@string.Format("{0}/services/new/slash-commands", Model.SlackTeamUrl.TrimEnd('/'))">Slash Command</a></strong>
                integration.
                <ul>
                    <li><strong>Command:</strong> <code>/todo</code></li>
                    <li><strong>Url:</strong> <code>@Model.SlashCommandUrl</code></li>
                    <li><strong>Method:</strong> <code>POST</code></li>
                </ul>
                <form class="form-inline">
                    <div class="form-group" ng-class="{ 'has-error': !slashCommandToken }">
                        <label class="control-label" for="slashCommandToken">Slash Command Token:</label>
                        <input type="text" id="slashCommandToken" class="form-control" ng-model="slashCommandToken">
                    </div>
                </form>
            </li>
            <li>
                Add a new
                <strong><a href="@string.Format("{0}/services/new/incoming-webhook", Model.SlackTeamUrl.TrimEnd('/'))">Incoming Webhook</a></strong>
                integration.
                <ul>
                    <li><strong>Post to Channel:</strong> <code>@@slackbot</code></li>
                </ul>
                <form class="form-inline">
                    <div class="form-group" ng-class="{ 'has-error': !incomingWebhookUrl }">
                        <label class="control-label" for="incomingWebhookUrl">Incoming Webhook Url:</label>
                        <input type="text" id="incomingWebhookUrl" class="form-control" ng-model="incomingWebhookUrl">
                    </div>
                </form>
            </li>
        </ol>
</div>

@section EndOfBody {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="@Url.Content("~/Content/js/lib/angular/angular-resource.min.js")"></script>
    <script src="@Url.Content("~/Content/js/app.js")"></script>
    <script type="text/javascript">
        angular.module('app').constant('BaseUrl', '@Url.Content("~/").TrimEnd('/')');
    </script>
}